@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none; 
    color: #fff;
}
body{
    background: #0f0a0a;
    height: 100vh;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
#menu{
    color: #fff;
    display: none;
    font-size: 2.5rem;
}
.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0.25rem;
    font-weight: 500;
    letter-spacing: .02;
    transition: .5s ease;
}
.navbar a:hover,a.act{
    color: #48fe0095;
    background-color: #827b7b;
    border-radius: 20%;
}
section{
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content{
    max-width: 70rem;
}
.text-content h1{
    font-size: 5rem;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: .05rem;
    font-weight: 600;
}
#text-animation{
    position: relative;
    font-size: 32.2rem;
}
#text-animation,h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px  #48fe0095;
    background: linear-gradient(#48fe0095,#48fe0095);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    

}
